.centrado{
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #EBE8E1;
    font-family: 'Nunito', sans-serif;
}
#navbar{
    background-color: white;
}
#izquierda{
    
    background-color: #93ABBF;
    
}
#derecha{
    height: 700px;
}
#login{
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    
}
.btn-primary{
    background-color: #DAC6C5;
    border-color: #DAC6C5;
}
